{% extends "data/base.html" %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <!-- Заголовок -->
                <h1 class="display-4 text-lavender mb-4">Результат дипломной работы - веб-приложение</h1>
                <p class="lead text-secondary">
                    Подсистема, которая обрабатывает, хранит, визуализирует и анализирует данные, получаемые с умных часов.
                </p>
            </div>
        </div>

        <!-- Список возможностей -->
        <div class="row justify-content-center mt-4">
            <div class="col-md-8">
                <h2 class="text-lavender mb-3">При её написании были реализованы:</h2>
                <ul class="list-group">
                    <li class="list-group-item bg-light text-lavender mb-2">
                        Возможность кроссбраузерного и адаптивного отображения веб-сайта в современных браузерах
                    </li>
                    <li class="list-group-item bg-light text-lavender mb-2">
                        Возможность импорта данных о пройденном расстоянии, сгоревших калориях, пульсе и времени активности человека, носящего умный девайс
                    </li>
                    <li class="list-group-item bg-light text-lavender mb-2">
                        Возможность постройки веб-сайтом графиков и диаграмм для удобства пользователя
                    </li>
                    <li class="list-group-item bg-light text-lavender mb-2">
                        Возможность фильтрации данных по нескольким критериям
                    </li>
                    <li class="list-group-item bg-light text-lavender mb-2">
                        Возможность обработки и анализа получаемых данных
                    </li>
                    <li class="list-group-item bg-light text-lavender mb-2">
                        Возможность автоматического формирования отчётов для последующей печати
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}