{% extends "data/base.html" %}
{% block content %}
<div class="container home-dobro">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 text-lavender">Добро пожаловать!</h1>
            <h3 class="mt-4">Вы находитесь на главной странице фитнес-приложения, призванного упростить жизнь пользователей умных носимых устройств :)</h3>
            {% if user.is_authenticated %}
                <p class="mt-4">Кликните, чтобы посмотреть информацию о себе</p>
                <a href="{% url 'user_data' user.id %}" class="btn btn-lavender btn-lg">Хочу посмотреть!</a>
            {% else %}
                <p class="mt-4">Авторизуйтесь, пожалуйста</p>
                <a href="{% url 'login' %}" class="btn btn-lavender btn-lg">Войти</a>
                <a href="{% url 'register' %}" class="btn btn-lavender btn-lg">Зарегистрироваться</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}