{% extends "data/base.html" %}
{% block content %}
<h1>Welcome to the Home Page</h1>
<p>Click the button below to view your data:</p>
<a href="{% url 'user_data' user.id %}" class="btn btn-primary">View My Data</a>
    {% for user in users %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ user.username }}</a>
              <small class="text-muted">Role: {{ user.role }}</small>
            </div>  
          </div>
        </article>
    {% endfor %}
{% endblock content %}
