<!DOCTYPE html>
<html>
<head>
    <title>User Data</title>
</head>
<body>
    <h1>User Data for {{ user.username }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Metric</th>
                <th>Value</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for pulse in pulses %}
                <tr>
                    <td>Pulse</td>
                    <td>{{ pulse.value }}</td>
                    <td>{{ pulse.time }}</td>
                </tr>
            {% endfor %}
            {% for step in steps %}
                <tr>
                    <td>Steps</td>
                    <td>{{ step.value }}</td>
                    <td>{{ step.time }}</td>
                </tr>
            {% endfor %}
            {% for distance in distances %}
                <tr>
                    <td>Distance</td>
                    <td>{{ distance.value }}</td>
                    <td>{{ distance.time }}</td>
                </tr>
            {% endfor %}
            {% for calorie in calories %}
                <tr>
                    <td>Calories</td>
                    <td>{{ calorie.value }}</td>
                    <td>{{ calorie.time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    
    {% endif %}
    <h1>Upload CSV Files</h1>   
    <form method="post" action="{% url 'upload_csv' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <label for="id_pulse_file">Pulse File:</label>
            <input type="file" name="pulse_file" id="id_pulse_file">
        </p>
        <p>
            <label for="id_steps_file">Steps File:</label>
            <input type="file" name="steps_file" id="id_steps_file">
        </p>
        <p>
            <label for="id_weight_file">Weight File:</label>
            <input type="file" name="weight_file" id="id_weight_file">
        </p>
        <p>
            <label for="id_distance_file">Distance File:</label>
            <input type="file" name="distance_file" id="id_distance_file">
        </p>
        <p>
            <label for="id_calories_file">Calories File:</label>
            <input type="file" name="calories_file" id="id_calories_file">
        </p>
        <button onclick="window.location.href='{% url 'upload_csv' %}'">Upload</button>
    </form>
</body>
</html>
